@model ICollection<PhotoRadarMap.Models.EnforcementZones.EnforcementZoneModel>
@{ 
    Layout = "Photo Radar";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="input-group">
                    <input id="map-search" type="text" class="form-control" placeholder="Enter location...">
                    <span class="input-group-btn">
                        <button id="map-search-button" class="btn btn-secondary" type="button">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="map"></div>
        </div>
    </div>
</div>